---
import Logo from "@/components/Logo.astro";
import Hmenu from "@/components/icons/Hmenu.astro"

type Props = {
    menu?: string[]
    subMenu?: string[][]
    autores: string[]
    lastUp: string
    i18n: {
        LayoutBlog: {
            menu: string
            authors: string
            lastUpdate: string
        }
    }
}

let { menu, subMenu, autores, lastUp, i18n } = Astro.props

if(menu == undefined) {
    menu = []
}

if(subMenu == undefined) {
    subMenu = menu.map(() => {
        return []
    })
}
---

<div class="w-full h-16 flex fixed justify-between items-center z-10 p-3 lg:hidden" id="responsive-menu">
    <a href="/">
        <Logo class="w-7"/>
    </a>
    <button id="btn-hmenu">
        <Hmenu/>
    </button>
</div>
<div class="w-1/2 fixed z-10 bg-neutral-800 h-full flex flex-col p-3 -translate-x-full transition-all" id="menu-des">
    <div class="py-5 flex items-center justify-between opacity-90 pr-12 pl-2">
        <h1 class="font-satoshi font-bold text-2xl">{i18n.LayoutBlog.menu}</h1>
        <Logo class="w-10"/>
    </div>
    <hr class="opacity-80">
    <ul class="opacity-90 p-2 overflow-auto">
    {menu.map((elem, ind) => {
        const elemC = elem.toLowerCase()
        const elemHref = elemC.replace(/ /g, "-")
        return (
            <div class="pb-1">
                <li class="hover:text-Eco-100" onclick="toggleMenu()">
                    <a href={`#${elemHref}`}>
                        {elem}
                    </a>
                </li>
                <ul>
                    {subMenu[ind].map((subelem) => {
                        if(subelem[0] != undefined){
                            const subelemC = subelem.toLowerCase()
                            const subelemHref = subelemC.replace(/ /g, "-")
                            return (
                                <li class="pl-4 text-sm hover:text-Eco-100" onclick="toggleMenu()">
                                    <a href={`#${subelemHref}`}>
                                        {subelem}
                                    </a>
                                </li>
                            )
                        }
                    })}
                </ul>
            </div>
        )
    })}
    </ul>
    <hr class="bg-white opacity-80">
    <div class="opacity-90 p-2">
        <div class="pb-2">
            <p>{`${i18n.LayoutBlog.authors}:`}</p>
            {autores.map((autor) => {
                return <p class="pl-5">{`# ${autor}`}</p>
            })}
        </div>
        <div>
            <p>{`${i18n.LayoutBlog.lastUpdate}:`}</p>
            <p class="pl-5">{lastUp}</p>
        </div>
    </div>
</div>