---
import Glass from "@/components/Glass.astro";
import Logo from "@/components/Logo.astro";
import Button from "../Button.astro";
import Github from "@/components/icons/Github.astro"
import Discord from "@/components/icons/Discord.astro";
import Instagram from "@/components/icons/Instagram.astro";
import Tooltip from "@/components/Interactive/Tooltip"
import Robot from "@/components/icons/Robot.astro"
import Link  from "@/components/Link.astro";

import { LINKS } from "@/lib/constants";
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Glass hover={true} class="grid grid-cols-4 grid-rows-3 grid-rows-3fr-1fr gap-6 min-w-16 h-full p-6 md:col-span-3 md:row-span-4 relative overflow-hidden z-10">
    <div class="col-span-4 md:col-span-3 row-span-2">
        <span class="font-satoshi font-normal opacity-50">
            {i18n.Card_Main.welcome}
        </span>
        <p class="font-satoshi font-normal">
            {i18n.Card_Main.paragraph.part1}<b class="font-bold">{i18n.Card_Main.paragraph.partB}</b>{i18n.Card_Main.paragraph.part2}
        </p>
    </div>
    <div class="row-span-3 justify-center hidden md:flex">
        <Logo class="w-32"/>
    </div>
    <div class="absolute -right-6 top-1/4 z-0 opacity-30 md:hidden">
        <Logo class="w-52"/>
    </div>
    <div class="col-span-2 flex gap-5">
        <Link href={LINKS.github} blank={true}>
            <Button>
                <Github/>
            </Button>
        </Link>
        <Link href={LINKS.instagram} blank={true}>
            <Button >
                <Instagram/>
            </Button>
        </Link>
        <Link href={LINKS.discord} blank={true}>
            <Button >
                <Discord/>
            </Button>
        </Link>
        <div class="hidden md:block">
            <Tooltip client:visible>
                <Button>
                    <Robot/>
                </Button>
            </Tooltip>
        </div>
    </div>
</Glass>