---
import { ViewTransitions } from 'astro:transitions';
import { Des } from '@/lib/constants';

type Props = {
  title: string;
  description?: string;
  blog?: boolean
}

const { title, description, blog } = Astro.props;
const image = `${Astro.url.origin}/og-image.png`;

const itsBlog = blog == undefined ? false : true

/* 
  Comprobamos que estamos obteniendo 'description' como prop, si no regresamos la descripcion main.
  Pero tambien comprobamos que si regresamos como prop 'description' este exista en 'Des'

  We check that we are getting 'description' as a prop; if not, we return the main description. 
  However, we also verify that if we return 'description' as a prop, it exists in 'Des'.
*/
let description_meta
if (!itsBlog) {
  description_meta = !description ? Des.main : !Des[description] ? Des.main : Des[description]
} else {
  description_meta = description
}

const schema = {
  "@context": "http://schema.org",
  "@type": "Person",
  name: "Jonathan Serna",
  url: "https://ecojrsg.github.io",
  sameAs: [
    "https://www.instagram.com/eco_jrsg/",
    "https://github.com/ecojrsg",
  ],
  image: "https://github.com/ecojrsg/og-image.png",
  jobTitle: "Software Engineering Student",
  nationality: {
    "@type": "Country",
    name: "México",
  },
}

const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description_meta} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || "https://ecojrsg.github.io/og-image.png"}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || "https://ecojrsg.github.io/og-image.png"}
    />
    <!-- More -->
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="icon" type="image/svg+xml" href="/LOGO.svg">
    <ViewTransitions/>
    <title>{title}</title>
  </head>
  <body>
    <slot/>
  </body>
</html>

<style is:global>
  :root {
    --bg-color: #242424;
  }
  html {
    background-color: var(--bg-color);
    color-scheme: dark light;
    scroll-behavior: smooth;
    color: white;
  }
  @media (min-width: 768px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1024px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1280px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1536px) {
    body {
      zoom: 1;
    }
  }
</style>
